@model ConfirmMailViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <form method="post">
        <label>Mail adresinize gelen 6 haneli kodu giriniz</label>
        <br />
        <input type="text" value="@ViewBag.v"  asp-for="Mail"/>
        <input type="text" class="form-control mt-2" asp-for="ConfirmCode" />
        <br />
        <button class="btn btn-primary">Hesabı aktifleştir.</button>
    </form>
</div>
