
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <form method="post">
        <h2>Taşınan mail adresi :@ViewBag.v</h2>
        <label>Mail adresinize gelen 6 haneli kodu giriniz</label>
        <br />
        <input type="text" class="form-control mt-2" />
        <br />
        <button class="btn btn-primary">Hesabı aktifleştir.</button>
    </form>
</div>
